.about__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'item1 item2 . item5'
    '. item3 item4 .'
    ;
    grid-gap: 23px;

    @include child-counter('> li', '0', '\a'){
        color: var(--accent-color);
        font-size: 16px;
    }

    @include lg() {
        grid-gap: 17px;
    }

    @include xs() {
        grid-gap: 10px;
    }

    @include sm(){
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
.about__list-item {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 30px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    padding-top: 67px;

    &:before {
        position: absolute;
        bottom: 29px;
        left: 30px;

        @include lg(){
            bottom: 22px;
            left: 23px;
        }

        @include xs(){
            bottom: 10px;
            left: 12px;
            font-size: 14px !important;
            line-height: 1;
        }
    }

    @include lg(){
        padding: 23px;
        padding-bottom: 47px;
        padding-top: 41px;
    }

    @include sm(){
        padding-top: 16px !important;
        aspect-ratio: 175 / 107;
        flex-direction: column;
       justify-content: flex-end;
    }

    @include xs() {
        border-radius: 10px;
        padding: 12px;
        padding-bottom: 28px;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          grid-area: item#{$i};
        }
    }

    @include sm(){
        width: calc(50% - 10px);
    }

    @media(max-width: 360px) {
        width: 100%;
        aspect-ratio: 16 / 5;
        padding-block: 32px;
    }
}

.about__list-text {
    width: 100%;
    
    &:after {
        content: '';
        display: block;
        margin-top: 17px;
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;

        @include lg() {
            margin-top: 14px;
        }

        @include xs() {
            margin-top: 10px;
        }
    }
}
.about__list-item--accent {
    background-color: var(--accent-color);
    color: #fff;
    
    &:before {
        color: #fff !important;
    }

    & .about__list-text::after {
        background-color: #fff;
    }
}
