.page--index-doc  {

    & .header {
        display: flex;

        & .btn {
            max-width: 427px;
    
            @include lg() {
                max-width: 280px;
            }

            @include xs() {
                width: fit-content;
                padding-inline: 40px;
                padding-block: 20px;
                height: 60px;
                display: flex;
                align-items: center;
            }

        @media(max-width: 380px) {
            height: 46px;
            padding: 0 20px !important;
        }
    }

    & .footer__to-top {
        &:after {
            content: '→';
            transform: rotate(-45deg);
        }
    }
}

    .docs__title {
        margin-bottom: 62px;
        @media(max-width: 360px) {
            font-size: 36px;
            letter-spacing: normal;
        }

        @include lg() {
            margin-bottom: 54px;
        }

        @include xs() {
            margin-bottom: 25px;
        }
    }
}
.docs__content {
    background-color: #fff;
    border-radius: 20px;
    padding: 87px 98px;

    @include lg() {
        padding: 46px 40px;
    }

    @include xs() {
        border-radius: 10px;
        padding: 25px 20px;
    }

    & a {
        color: var(--accent-color);
        text-decoration: underline;
        text-underline-position: under;
    }

    & p {
        font-size: 16px;
        margin-bottom: 75px;

        @include lg() {
            margin-bottom: 50px;
        }

        @include sm() {
            margin-bottom: 30px;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    
    & h2 {
        font-size: 38px;
        margin-bottom: 16px;
        text-transform: uppercase;

        @include lg() {
            font-size: 28px;
            margin-bottom: 13px;
        }

        @include sm() {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
}