.traffic__list {
    --gap: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--gap);

    @include xl() {
        --gap: 17px;
    }
    @include sm() {
        --gap: 10px;
    }
}
.traffic__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 46px 40px 64px;
    border-radius: 20px;
    column-gap: 10px;
    aspect-ratio: 312 / 108;
    max-height: 148px;
    width: calc((100% - var(--gap ) * 3) / 4);

    @include xl() {
        padding: 29px;
        padding-left: 47px;
    }

    @include lg() {
        max-height: 108px;
        width: calc((100% - var(--gap ) * 2) / 3);
    }

    @include md() {
    }

    @include sm(){
        height: 60px;
        width: calc((100% - var(--gap ) * 1) / 2);
        border-radius: 10px;
    }

    @include mob() {
        width: 100%;
    } 

    & svg {
        width: 50px;
        height: 50px;
        overflow: visible;

        @include sm() {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }
}
.traffic__item-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.1;
    white-space: nowrap;

    @include xl() {
        font-size: 28px;
    } 

    @include sm() {
        font-size: 18px;
    } 
}
.traffic__item-icon {
}



