.verticals__list {
   list-style: initial;
    @include child-counter('> li', '0', '\a'){
        font-size: 20px;
        line-height: 1.1;

        @include lg() {
            font-size: 16px;
        }

        @include sm() {
            font-size: 14px;
        }
    }
}
.verticals__list-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D4D4D4;
    padding-block: 33px 66px;


    @include lg() {
        padding-block: 24px 44px;
    }

    @include xs() {
        padding-block: 17px 44px;
    }
}
.verticals__title {
    line-height: 1.1;
    font-weight: 500;

    @include lg() {
        font-size: 38px;
    }

    @include sm() {
        font-size: 28px;
    }

    @include xs() {
        font-size: 18px;
    }
}
.verticals__text {
    width: 50%;
}



